[user]
	email = bjm.henry@gmail.com
	name = Basile Henry
	signingkey = 32FE8303BEEAEC0B
[core]
	excludesfile = ~/.gitignore
[gpg]
	program = gpg2
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
